@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"]{
	font-style: italic;
	margin-top: 2em;
	text-align: right;
}

[epub|type~="z3998:signature"] + [epub|type~="z3998:signature"]{
	margin-top: auto;
}

section[epub|type~="halftitlepage"] p,
.bill p,
.end{
	text-align: center;
	text-indent: 0;
}

.bill{
	font-variant: small-caps;
}

.bill i{
	font-variant: normal;
}

.end{
	margin: 2em 0;
}

p + .scene{
	margin-top: 3em;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="z3998:poem"] header p{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
}
